:root{
    --div-border-color: #64748b;
    --div-bg-color: #09090b;
}

.contactsInfoDiv{
    transform: translateX(-100%);
    animation: slide-in 0.7s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.contactInfoSet{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--div-bg-color);
    padding: 2rem;
    border: 1px solid var(--div-border-color);
    border-radius: 1rem;
    width: 80%;
    margin-bottom: 1.5rem;
}

.contactInfoSet input{
    width: 97%;
}