:root{
    --input-field-bg: #0c0a09;
    --div-border-color: #64748b;
    --button-hover-color: #0983b3;
    --button-hover-bg: #f8fafc;
    --div-bg-color: #09090b;
    --div-border-color: #64748b;
}

.educationInfoDiv{
    transform: translateX(-100%);
    animation: slide-in 0.7s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.schoolInfoSet{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.schoolInfoSet input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

.schoolInfoSet{
    background-color: var(--div-bg-color);
    padding: 2rem;
    width: 90%;
    border: 1px solid var(--div-border-color);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.educationInfoDiv .InfoButton button{
    padding: 0.5rem 4rem;
    background-color: var(--input-field-bg);
    border-radius: 0.5rem;
    border: 1px solid var(--div-border-color);
}

.educationInfoDiv .InfoButton button:hover{
    color: var(--button-hover-color);
}

.educationInfoDiv .InfoButton button:active{
    background-color: var(--button-hover-bg);
}

.educationInfoDiv .addRemoveDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}