:root{
    --input-field-bg: #0c0a09;
    --div-border-color: #64748b;
    --div-bg-color: #09090b;
    --input-border: #404040;
}


.projectsInfoSet{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--div-bg-color);
    padding: 2rem;
    border: 1px solid var(--div-border-color);
    border-radius: 1rem;
    width: 80%;
    margin-bottom: 1.5rem;
}

.projectsInfoSet textarea{
    background-color: var(--input-field-bg);
    width: 97%;
    height: 5rem;
    border: 0.5px solid var(--input-border);
    border-radius: 0.5rem;
    color: white;
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 0.5rem;
}

.projectsInfoSet input{
    width: 97%;
}