@font-face {
  font-family: welcomeScreenFont;
  src: url(./assets/fonts/NewAmsterdam-Regular.ttf);
}

@font-face {
  font-family: cvFontNormal;
  src: url(./assets/fonts/Arimo-Variable.ttf);
}

@font-face {
  font-family: cvFontItalic;
  src: url(./assets/fonts/Arimo-Italic.ttf);
}

body{
  background-image: url(./assets/photos/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
